<%- include('partials/header') %>

  <div class="jumbotron centered">
    <div class="container">
      <i class="fas fa-key fa-6x"></i>
      <h1 class="display-3">Welcome Admin</h1>
      <hr>
      <a class="btn btn-light btn-lg" href="/vehicle" role="button">Create Vehicle</a>
      <a class="btn btn-dark btn-lg" href="/station" role="button">Create Station</a>
      <br>
      <br>
      <a class="btn btn-light btn-lg" href="/station/assign" role="button">Assign Station</a>
      <a class="btn btn-dark btn-lg" href="/station/list" role="button">Get Station</a>
      <br>
      <br>
      <h2 class="display-3">Inventory</h2>
      <br>
      <br>
      <div class="jumbotron centered">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Sl No.</th>
            <th scope="col">Vehicle Type</th>
            <th scope="col">Vehicle License</th>
            <th scope="col">Station Location</th>
            <th scope="col">Is Available</th>
          </tr>
        </thead>
        <% for(let i=0; i<inventory.length; i++) { %>
          <tr>
            <th scope="row">
              <%=i+1%>
            </th>
            <td>
              <%= inventory[i].vehicle.make %>
            </td>
            <td>
              <%= inventory[i].vehicle.licensePlate %>
            </td>
            <td>
              <%= inventory[i].station.location %>
            </td>
            <td>
              <%= inventory[i].available ? 'yes' : 'no' %>
            </td>
          </tr>
          <% } %>
            <tbody>
            </tbody>
      </table>
      </div>
    </div>
  </div>

  <%- include('partials/footer') %>
