<%- include('partials/header') %>
  <a class="btn btn-dark btn-lg" href="/logout" role="button">Logout</a>
  <form method="POST" action="/land">
    <button type="submit" class="btn btn-dark btn-lg">Home</button>
  </form>
  <div class="jumbotron centered">
    <div class="container">
      <h1 class="display-3">Book your vehicle</h1>
      <hr>
      <br>
      <br>

      <div class="row">
        <div class="col-sm-8">
          <div class="card">
            <div class="card-body">

              <form action="/station/list" method="POST">
                <div class="form-group">
                  <label for="station">Station</label>
                  <select id="station" name="station" class="form-control">
                    <option value="" selected disabled hidden>Choose here</option>
                    <% for(let i=0; i<stations.length; i++) { %>
                      <option value="<%= stations[i]._id %>">
                        <%= stations[i].location %>
                      </option>
                      <% } %>
                  </select>
                </div>
                <button type="submit" class="btn btn-dark"> Get Available Vehicles </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <% if (errorMessage) { %>
        <div>
          <script>alert("<%= errorMessage %>")</script>
        </div>
        <% } %>
          <div style="<%= (selectedStation.location ==="") ? 'display:none;' : 'display:block;' %>">
            <h2 class="display-3">Available Vehicles at station <%=selectedStation.location%>
            </h2>
            <br>
            <br>

            <table class="table" id="showVehicle">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Sl No.</th>
                  <th scope="col">Vehicle Type</th>
                  <th scope="col">License</th>
                  <th scope="col">Model</th>
                  <th scope="col">QR code</th>
                </tr>
              </thead>
              <% for(let i=0; i<inventory.length; i++) { %>
                <tr>
                  <th scope="row">
                    <%=i+1%>
                  </th>
                  <td>
                    <%= inventory[i].vehicle.make %>
                  </td>
                  <td>
                    <%= inventory[i].vehicle.licensePlate %>
                  </td>
                  <td>
                    <%= inventory[i].vehicle.model %>
                  </td>
                  <td>
                    <img id="qrCode" src="<%= inventory[i].vehicle.qrCode %>">
                  </td>
                </tr>
                <% } %>
                  <tbody>
                  </tbody>
            </table>

            <form action="/vehicle/book" method="POST" enctype="multipart/form-data">
              <div class="form-group">
                <input type="text" class="form-control" name="selectedStationId" style="display:none;"
                  value="<%= selectedStation._id %>">
                <label for="qrCode">QR CODE</label>
                <input type="file" name="file">
                <button type="submit" class="btn btn-dark"> Book </button>
            </form>
          </div>

    </div>

  </div>
  </div>
  <%- include('partials/footer') %>
