<%- include('partials/header') %>

  <div class="container mt-5">
    <h1>Login</h1>

    <div class="row">
      <div class="col-sm-8">
        <div class="card">
          <div class="card-body">
            <% if (errorMessage) { %>
                    <div>
                        <script>alert("<%= errorMessage %>")</script>
                    </div>
            <% } %>
      

            <!-- Makes POST request to /login route -->
            <form action="/generateOtp" method="POST">
              <div class="form-group">
                <label for="phone">Phone number</label>
                <input value = "<%=phone ? phone : ''%>" type="tel" class="form-control" name="phone" pattern="[0-9]{10}">
              </div>
              <button type="submit" class="btn btn-dark">Generate OTP</button>
            </form>
            <form action="/login" method="POST">
              <div class="form-group">
                <input value = "<%=phone ? phone : ''%>" type="tel" class="form-control" name="phone" pattern="[0-9]{10}" style="display:none">
              </div>
              <div class="form-group">
                <label for="otp">Enter OTP</label>
                <input type="otp" class="form-control" name="otp">
              </div>
              <button type="submit" class="btn btn-dark">Login</button>
            </form>

          </div>
        </div>
      </div>

    </div>
  </div>

  <%- include('partials/footer') %>
